#carbonads
	@apply block relative rounded max-w-full font-ubuntu interactive-box

	width: 420px

	.carbon-wrap
		@apply flex

		.carbon-img
			@apply py-4 pl-4

			min-width: 146px

		.carbon-text
			@apply text-sm p-4
	
	.carbon-poweredby
		@apply absolute right-2 bottom-2 px-2 py-1 uppercase font-semibold tracking-widest hover:text-blue-600 transition-colors

		font-size: 8px