@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"
@import "~bulma/sass/utilities/derived-variables"
@import "~bulma/sass/utilities/mixins"
@import "~bulma/sass/utilities/controls"
@import "~bulma/sass/utilities/extends"

$main-dark: #212121
$secondary-dark: #131313
$family-sans-serif: 'Poppins', sans-serif
$title-family: 'Ubuntu', sans-serif
$title-weight: $weight-normal
$text: $grey-lightest
$text-strong: $white
$link: $success
$link-hover: darken($success, 10%)
$scheme-main: $main-dark
$scheme-main-bis: $main-dark
$scheme-main-ter: $main-dark
$border: lighten($main-dark, 10%)
$custom-colors: ("dark-light": ($main-dark, $secondary-dark))

$body-background-color: $secondary-dark
$box-background-color: $main-dark
$input-color: $text
$input-shadow: none
$input-focus-box-shadow-size: 0
$input-border-color: rgba(255, 255, 255, 0.2)
$input-hover-border-color: rgba(255, 255, 255, 0.3)
$input-focus-border-color: rgba(255, 255, 255, 0.3)
$input-background-color: $main-dark
$input-disabled-background-color: $secondary-dark
$input-disabled-border-color: $secondary-dark
$content-pre-padding: 0
$code-background: rgba(0, 0, 0, 0.25)
$code: $text-strong
$box-link-hover-shadow: $shadow
$box-link-active-shadow: $shadow
$card-header-shadow: none
$button-border-color: lighten($border, 10%)
$button-hover-border-color: lighten($border, 20%)
$button-hover-color: $white
$button-focus-color: $white
$button-focus-border-color: lighten($border, 25%)
$button-focus-box-shadow-size: 0
$button-active-color: $white
$message-header-background-color: hsl(0, 0%, 50%)
$checkradio-focus: none
$checkbox-border: 2px solid $grey

::-webkit-scrollbar
    background: $main-dark

::-webkit-scrollbar-thumb
    background: lighten($main-dark, 10%)

    &:hover:not(:active)
        background: lighten($main-dark, 15%)

body
    margin-block: 5rem !important
    padding-inline: 1rem !important

.header
    display: flex
    margin-bottom: 1.5rem

.heading-group
    border-left: 4px solid lighten($main-dark, 10%)
    padding-left: 1rem
    padding-block: 0.25rem
    margin-top: 2.5rem
    margin-bottom: 1rem

.nav-icon
    max-width: 20px
    max-height: 20px
    margin-right: 0.5rem

.card .card-header.is-clickable:not(:only-child)
    border-bottom: 1px solid lighten($main-dark, 10%)

.is-align-middle
    vertical-align: middle

.table th
    vertical-align: middle !important

ol li
    padding-left: 0.5rem

@media not (max-width: $desktop)
    .table th
        width: 180px

@media (max-width: $desktop)
    .header
        display: block !important

        & > :first-child
            margin-bottom: 1rem
            
    .table
        th
            padding-bottom: 0 !important
            border: none !important

        tr:not(:first-of-type) th
            padding-top: 1rem !important
        
        th, td
            display: block

        td
            padding-bottom: 1rem !important

.table-overflow-wrapper, .card-content
    overflow-x: auto

a.box
    position: relative
    overflow: hidden

    .box-link-arrow
        position: absolute
        top: 50%
        right: -20px
        transform: translate(0, -50%)
        transition: 0.25s right ease

    &:hover .box-link-arrow
        right: 1.25rem

@import "~bulma/sass/base/minireset"
@import "~bulma/sass/base/generic"
@import "~bulma/sass/base/animations"
@import "~bulma/sass/elements/box"
@import "~bulma/sass/elements/button"
@import "~bulma/sass/elements/container"
@import "~bulma/sass/elements/content"
@import "~bulma/sass/elements/icon"
@import "~bulma/sass/elements/table"
@import "~bulma/sass/elements/tag"
@import "~bulma/sass/elements/title"
@import "~bulma/sass/elements/other"
@import "~bulma/sass/form/shared"
@import "~bulma/sass/form/input-textarea"
@import "~bulma/sass/form/checkbox-radio"
@import "~bulma/sass/form/select"
@import "~bulma/sass/form/tools"
@import "~bulma/sass/components/card"
@import "~bulma/sass/components/menu"
@import "~bulma/sass/components/message"
@import "~bulma/sass/grid/columns"
@import "~bulma/sass/helpers/_all"

@import "_carbon"