@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/controls"
@import "~bulma/sass/utilities/extends"

$dark: #1e2125
$dark-accent: lighten($dark, 10%)
$border: $dark-accent
$text: $grey-lighter
$text-strong: $grey-lightest
$link: $success
$link-hover: darken($success, 15%)
$scheme-main: $dark
$scheme-main-bis: darken($dark, 2.5%)
$scheme-main-ter: darken($dark, 5%)
$scheme-invert: $light
$scheme-invert-bis: lighten($light, 2.5%)
$scheme-invert-ter: lighten($light, 5%)
$body-background-color: darken($dark, 3%)
$content-heading-color: $white
$title-color: $white
$title-family: 'Poppins', sans-serif
$title-weight: 600
$subtitle-family: 'Poppins', sans-serif
$subtitle-weight: 300
$footer-padding: 1.5rem 0
$table-background-color: none
$input-color: $white
$input-border-color: $dark-accent
$input-hover-border-color: lighten($dark-accent, 5%)
$input-focus-border-color: lighten($dark-accent, 10%)
$input-shadow: none
$input-focus-box-shadow-size: 0
$hr-background-color: $dark-accent
$card-header-shadow: none
$code-background: $dark-accent
$code: $grey-lighter
$box-background-color: $dark
$box-link-hover-shadow: 0 0 1px 0 lighten($dark-accent, 50%)

::-webkit-scrollbar
    background: $dark-accent

::-webkit-scrollbar-thumb
    background: lighten($dark-accent, 10%)

.card .card-header:not(:only-child)
    border-bottom: 1px solid $dark-accent

.content ol
    margin-left: 2.5rem !important

    li
        padding-left: 0.5rem

    ::marker
        font-size: 20px

.table
    table-layout: fixed

    th
        vertical-align: middle !important

.is-vertically-aligned
    vertical-align: middle

@media (min-width: 469px)
    .table th
        width: 180px

@media (max-width: 768px)
    .table
        th
            padding-bottom: 0 !important
            border: none !important

        tr:not(:first-of-type) th
            padding-top: 1rem !important
        
        th, td
            display: block

        td
            padding-bottom: 1rem !important

.content pre
    padding: 0 !important

.navbar
    border-bottom: 1px solid $dark-accent

    .navbar-brand .navbar-item img
        max-height: unset !important

.nav-icon
    height: 18px
    margin-right: 0.5rem

.footer .container
    border-top: 1px solid $dark-accent
    padding-block: 1rem

.content-container
    padding: 4rem 0 !important

    @media (max-width: 1024px)
        padding: 1rem !important

@media (max-width: 1023px)
    .buttons-block-mobile
        display: block !important

        .button
            display: block

    .navbar-menu
        box-shadow: none !important
        padding: 0 !important

    .navbar-menu .buttons .button:not(:last-child):not(.is-fullwidth)
        margin-right: 0 !important
    
.navbar-burger
    margin-right: 0.5rem !important

.navbar-burger:hover
    background-color: transparent !important

.navbar-item .button > img, .navbar-item .button > span
    display: inline-block !important
    vertical-align: middle !important

@import "~bulma/sass/base/minireset"
@import "~bulma/sass/base/generic"

@import "~bulma/sass/elements/box"
@import "~bulma/sass/elements/button"
@import "~bulma/sass/elements/content"
@import "~bulma/sass/elements/table"
@import "~bulma/sass/elements/tag"
@import "~bulma/sass/elements/title"
@import "~bulma/sass/elements/container"

@import "~bulma/sass/components/message"
@import "~bulma/sass/components/card"
@import "~bulma/sass/components/navbar"

@import "~bulma/sass/form/shared"
@import "~bulma/sass/form/input-textarea"
@import "~bulma/sass/form/tools"
@import "~bulma/sass/form/select"

@import "~bulma/sass/grid/columns"

@import "~bulma/sass/helpers/color"
@import "~bulma/sass/helpers/flexbox"
@import "~bulma/sass/helpers/float"
@import "~bulma/sass/helpers/spacing"
@import "~bulma/sass/helpers/typography"
@import "~bulma/sass/helpers/visibility"
@import "~bulma/sass/helpers/other"

@import "~highlight.js/scss/atom-one-dark"

@import "_carbon"